---
import { desc } from 'drizzle-orm';
import Form from '../components/Form.astro';
import LetterCard from '../components/LetterCard.astro';
import { db } from '../db';
import { letterTable } from '../db/schema';
import Layout from '../layouts/Layout.astro';

const letters = await db
	.select()
	.from(letterTable)
	.orderBy(desc(letterTable.createdAt));
---

<Layout>
	<main class="space-y-4">
		<h1
			class="bg-gradient-to-br from-blue-500 via-purple-500 to-pink-500 bg-clip-text text-center text-8xl font-bold text-transparent mobile:text-6xl"
		>
			Love Letter
		</h1>
		<Form />
		{letters.map((letter) => <LetterCard {...letter} />)}
	</main>
</Layout>
