---
import Form from '../components/Form.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="space-y-4">
		<h1
			class="bg-gradient-to-br from-blue-500 via-purple-500 to-pink-500 bg-clip-text text-center text-8xl font-bold text-transparent mobile:text-6xl"
		>
			Love Letter
		</h1>
		<Form />
	</main>
</Layout>
