---
import '@fontsource-variable/quicksand';

interface Props {
	title?: string;
}
const { title: propTitle } = Astro.props;

const SITE_TITLE = 'Love Letter' as const;
const title = propTitle ? `${propTitle} | ${SITE_TITLE}` : SITE_TITLE;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A love letter website for university." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="mx-auto max-w-3xl p-2 font-serif">
		<slot />
	</body>
</html>
